<!--start-header-->
<div class="header">
	<div class="container">
		<div class="head">
			<div class="navigation">
				<nav class="navbar-fixed-top navig">
					<div class="container-fluid">
						<div class="navbar-header">
							<a href="#/" class="navbar-brand active">Yummy Booklet</a>
							<div ng-show="!currentUser">
								<p class="navbar-text pull-right">
									<a href="#/login" class="login">Log in</a>
									<span>|</span>
									<a href="#/register" class="register">Register</a>
								</p>
							</div>
							<div ng-show="currentUser">
								<p class="navbar-text pull-right">
									<a href="#/user/{{model.currentUser._id}}" class="login">{{model.currentUser.username}}</a>
									<span>|</span>
									<a ng-click="model.logout()" class="login">Log out</a>
								</p>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="about">
	<div class="container">
		<div class="about-main">
			<div class="col-md-8 about-left">
				<div class="about-two">
					<a>
						<img src="images/admin.png" alt="Profile Picture"/>
					</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="about-one">
					<h3><i class="fa fa-users padding-top-50 padding-bottom-20" aria-hidden="true"></i>All Users</h3>
				</div>
				<div class="abt-2">
					<div class="" ng-repeat="user in model.users">
						<div class="padding-bottom-20">
							<div class="row">
								<div class="col-xs-2" ng-show="user.profilePic">
									<img class="max-height-50" ng-src="{{user.profilePic}}" alt="Profile Picture" />
								</div>
								<div class="col-xs-2" ng-hide="user.profilePic">
									<img class="max-height-50" src="images/profile.png" alt="Profile Picture" />
								</div>
								<div class="col-xs-8 pull-left">
									<a href="#/user/{{user._id}}">
										<span class="">{{user.username}}</span>
									</a>
								</div>
								<div class="col-xs-2 admin-btn">
									<a class="fa fa-trash-o btn-right margin-bottom-5" ng-click="model.deleteUserAndAllInfo(user._id)">
									</a>
									<a class="fa fa-pencil-square-o btn-right margin-bottom-5" ng-click="model.editUser(user)">
									</a>
								</div>
							</div>
							<div ng-repeat="comment in user.comments">
								<div class="row">
									<div class="col-xs-2">
									</div>
									<div class="col-xs-10">
										<a href="#/user/{{comment.commenterId}}">
											<span class="text-info">{{comment.commenter}}</span>
										</a>&nbsp;
										<span>posted at {{model.getLongDateTime(comment.date)}}</span>&nbsp;
										<a href="#/category/{{comment.categoryId}}/zip/{{comment.zip}}/restaurant/{{comment.restaurantId}}">
											<span class="text-info">{{comment.content}}</span>
										</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>