<div class="header" id="head">
	<div class="container">
		<div class="head">
			<div class="navigation">
				<nav class="navbar-fixed-top navig">
					<div class="container-fluid">
						<div class="navbar-header">
							<a href="#/" class="navbar-brand active">Yummy Booklet</a>
							<div ng-show="!currentUser">
								<p class="navbar-text pull-right">
									<a href="#/register" class="register">Register</a>
								</p>
							</div>
							<div ng-show="currentUser">
								<p class="navbar-text pull-right">
									<a href="#/user/{{model.currentUser._id}}" class="login">{{model.currentUser.username}}</a>
									<span>|</span>
									<a ng-click="model.logout()" class="login">Log out</a>
								</p>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="container">

	<div ng-if="model.error" class="alert alert-danger">
		{{model.error}}
	</div>

	<div class="main">
		<h1>Login</h1>
		<form name="loginForm" novalidate>
			<div class="form-group"
				 ng-class="{ 'has-error': loginForm.username.$error.required && model.submitted}">
				<Label>Username</Label>
				<input ng-model="username" class="form-control" type="text"
					   name="username" placeholder="alice" required />
				<span ng-show="loginForm.username.$error.required && model.submitted"
					  class="help-block">
					Username required
				</span>
			</div>
			<div class="form-group"
				 ng-class="{ 'has-error': loginForm.password.$error.required && model.submitted}">
				<Label>Password</Label>
				<input ng-model="password" class="form-control" type="password"
					   name="password" placeholder="12345" required />
				<span ng-show="loginForm.password.$error.required && model.submitted"
					  class="help-block">
					Password is required
				</span>
			</div>
			<a ng-click="model.login(username, password)" type="submit" class="btn login-btn btn-block">Login</a>
			<a href="/auth/google" class="btn login-btn btn-block" type="submit">
				<span class="fa fa-google-plus-square"></span>
				Google
			</a>
		</form>
	</div>
</div>