<div class="container">

	<div ng-if="model.error" class="alert alert-danger">
		{{model.error}}
	</div>

	<h1>Login</h1>
	<div class="form-group">
		<Label>Username</Label>
		<input ng-model="username" class="form-control" type="text" placeholder="alice" />
	</div>
	<div class="form-group">
		<Label>Password</Label>
		<input ng-model="password" class="form-control" type="password" placeholder="12345" />
	</div>
	<a ng-click="model.login(username, password)" class="btn btn-primary btn-block">Login</a>
	<a class="btn btn-success btn-block" href="#/register">Register</a>
</div>