<!--start-header-->
<div class="header">
	<div class="container">
		<div class="head">
			<div class="navigation">
				<nav class="navbar-fixed-top navig">
					<div class="container-fluid">
						<div class="navbar-header">
							<a href="#/" class="navbar-brand active">Yummy Booklet</a>
							<div ng-show="!currentUser">
								<p class="navbar-text pull-right">
									<a href="#/login" class="login">Log in</a>
									<span>|</span>
									<a href="#/register" class="register">Register</a>
								</p>
							</div>
							<div ng-show="currentUser">
								<p class="navbar-text pull-right">
									<a href="#/user/{{model.currentUser._id}}" class="login">{{model.currentUser.username}}</a>
									<span>|</span>
									<a ng-click="model.logout()" class="login">Log out</a>
								</p>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- script-for-menu -->
<!-- script-for-menu -->
<script>
	$("span.menu").click(function () {
		$(" ul.navig").slideToggle("slow", function () {
		});
	});
</script>
<!-- script-for-menu -->
<div class="about">
	<div class="container">
		<div class="about-main">
			<div class="col-md-8 about-left">
				<div class="about-two">
					<div ng-if="model.isLoggedIn()">
						<div ng-show="model.profilePic">
							<img ng-src="{{model.profilePic}}" alt="Profile Picture" />
						</div>
						<div ng-hide="model.hasProfilePicture(model.profilePic)">
							<img src="images/profile.png" alt="Profile Picture" />
						</div>
					</div>
					<div ng-if="!model.isLoggedIn()">
						<div ng-show="model.profilePic">
							<img ng-src="{{model.profilePic}}" alt="Profile Picture" />
						</div>
						<div ng-hide="model.profilePic">
							<img src="images/profile.png" alt="Profile Picture" />
						</div>
					</div>
					<a ng-hide="model.cannotFollow()"
					   ng-click="model.followUser()">
						<i class="follow-icon fa fa-star-o">&nbsp;follow&nbsp;{{model.user.username}}</i>
					</a>
					<a ng-show="model.canUnfollow()"
					   ng-click="model.unfollowUser()">
						<i class="follow-icon fa fa-star">&nbsp;following&nbsp;{{model.user.username}}</i>
					</a>
					<div class="abt-1">
						<a href="#/user/{{model.currentUser._id}}/edit">
							<span class="glyphicon glyphicon-edit"></span>&nbsp;Edit profile
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 about-right">
				<div class="abt-2">
					<table class="info-table">
						<tbody>
						<tr>
							<th>Username</th>
							<td>
								<li class="list-info">{{model.user.username}}</li>
							</td>
						</tr>
						<tr>
							<th>First Name</th>
							<td>
								<li class="list-info">{{model.user.firstName}}</li>
							</td>
						</tr>
						<tr>
							<th>Last Name</th>
							<td>
								<li class="list-info">{{model.user.lastName}}</li>
							</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>
								<li class="list-info">{{model.user.email}}</li>
							</td>
						</tr>
						</tbody>

					</table>
				</div>
				<div class="abt-2">
					<!--<div class="news">-->
					<!--<form>-->
					<!--<input type="text" value="message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" />-->
					<!--<input type="submit" value="Comment">-->
					<!--</form>-->
					<!--</div>-->
					<div class="about-one">
						<h4 class="comment-header">Following</h4>
					</div>
					<div ng-repeat="followingUser in model.user.following">
						<div class="commentDiv">
							<!--<a href="#/user/{{comment.commenterId}}">-->
							<!--<span class="text-info">{{comment.commenter}}</span>-->
							<!--</a>&nbsp;-->
							<!--<span>posted at {{model.getLongDateTime(comment.date)}}</span>&nbsp;-->
							<!--&lt;!&ndash;<button ng-click="model.replyAcomment(comment._id, comment.commenterId, comment.commenter, $index)"&ndash;&gt;-->
							<!--&lt;!&ndash;class="replyBtn">reply&ndash;&gt;-->
							<!--&lt;!&ndash;</button>&ndash;&gt;-->
							<!--<button class="btn-right" ng-click="comment.isThisReplyCommentAreaShown = true">-->
							<!--Reply-->
							<!--</button>-->
							<!--<br/>-->
							<!--<span class="commentText">{{comment.content}}</span>-->
							<!--<h4>{{followingUser.username}}</h4>-->
							<img width="20%" ng-src="{{followingUser.profilePic}}" alt="Profile Picture" />
							<a href="#/user/{{followingUser._id}}">
								<span class="text-info">{{followingUser.username}}</span>
								<br>
								<span class="text-info">{{followingUser.firstName}}&nbsp;{{followingUser.lastName}}</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>