<!--start-header-->
<div class="header">
	<div class="container">
		<div class="head">
			<div class="navigation">
				<nav class="navbar-fixed-top navig">
					<div class="container-fluid">
						<div class="navbar-header">
							<a href="#/" class="navbar-brand active">Yummy Booklet</a>
							<div ng-show="!currentUser">
								<p class="navbar-text pull-right">
									<a href="#/login" class="login">Log in</a>
									<span>|</span>
									<a href="#/register" class="register">Register</a>
								</p>
							</div>
							<div ng-show="currentUser">
								<p class="navbar-text pull-right">
									<a href="#/user/{{model.currentUser._id}}" class="login">{{model.currentUser.username}}</a>
									<span>|</span>
									<a ng-click="model.logout()" class="login">Log out</a>
								</p>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="about">
	<div class="container">
		<div class="about-main">
			<div class="col-md-8 about-left">
				<div class="about-two">
					<div ng-if="model.isLoggedIn()">
						<div ng-show="model.profilePic">
							<img ng-src="{{model.profilePic}}" alt="Profile Picture" />
						</div>
						<div ng-hide="model.hasProfilePicture(model.profilePic)">
							<img src="images/profile.png" alt="Profile Picture" />
						</div>
					</div>
					<div ng-if="!model.isLoggedIn()">
						<div ng-show="model.profilePic">
							<img ng-src="{{model.profilePic}}" alt="Profile Picture" />
						</div>
						<div ng-hide="model.profilePic">
							<img src="images/profile.png" alt="Profile Picture" />
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 padding-top-10">
							<a href="#/user/{{model.userId}}/edit">
								<span class="fa fa-pencil-square-o"></span>&nbsp;Edit
							</a>
						</div>
						<div class="col-xs-6 padding-top-10">
							<a ng-hide="model.cannotFollow()"
							   ng-click="model.followUser()">
								<i class="fa fa-star-o">&nbsp;Follow&nbsp;{{model.user.username}}</i>
							</a>
							<a ng-show="model.canUnfollow()"
							   ng-click="model.unfollowUser()">
								<i class="fa fa-star">&nbsp;Following&nbsp;{{model.user.username}}</i>
							</a>
						</div>
					</div>
					<div class="col-xs-12 padding-top-10 row padding-bottom-20" ng-if="model.isAdmin()">
						<a href="#/admin/{{model.currentUser._id}}">
							<span class="glyphicon glyphicon-user"></span>&nbsp;Admin
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="about-one">
					<h4 class="comment-header">Information</h4>
				</div>
				<div class="abt-2">
					<div class="row profile-info-text">
						<div class="col-xs-6">
							Username
						</div>
						<div class="col-xs-6">
							{{model.user.username}}
						</div>
					</div>
					<div class="row profile-info-text">
						<div class="col-xs-6">
							First Name
						</div>
						<div class="col-xs-6">
							{{model.user.firstName}}
						</div>
					</div>
					<div class="row profile-info-text">
						<div class="col-xs-6">
							Last Name
						</div>
						<div class="col-xs-6">
							{{model.user.lastName}}
						</div>
					</div>
					<div class="row profile-info-text">
						<div class="col-xs-6">
							Email
						</div>
						<div class="col-xs-6">
							{{model.user.email}}
						</div>
					</div>
				</div>


				<tabs class="padding-top-40 padding-bottom-50">
					<pane title="Following">
						<div ng-if="model.user.following.length > 0">
							<div class="abt-2">
								<div ng-repeat="followingUser in model.user.following">
									<div class="row following-row">
										<div class="col-xs-4">
											<div ng-show="followingUser.profilePic">
												<img width="30%" ng-src="{{followingUser.profilePic}}" alt="Profile Picture" />
											</div>
											<div ng-hide="followingUser.profilePic">
												<img width="30%" src="images/profile.png" alt="Profile Picture" />
											</div>
										</div>
										<div class="col-xs-8">
											<a href="#/user/{{followingUser._id}}">
												<span class="text-info">{{followingUser.username}}</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</pane>
					<pane title="Favorites">
						<div ng-if="model.user.restaurants.length > 0">
							<div class="abt-2">
								<div ng-repeat="restaurant in model.user.restaurants">
									<div class="row favorite-restaurant-row">
										<div class="col-xs-4">
											<div ng-show="restaurant.restaurantPic">
												<img width="30%" ng-src="{{restaurant.restaurantPic}}" alt="Profile Picture" />
											</div>
											<div ng-hide="restaurant.restaurantPic">
												<img width="30%" src="images/profile.png" alt="Profile Picture" />
											</div>
										</div>
										<div class="col-xs-8">
											<a href="#/category/{{restaurant.categoryId}}/zip/{{restaurant.zip}}/restaurant/{{restaurant.restaurantId}}">
												<span class="text-info">{{restaurant.restaurantId}}</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</pane>
				</tabs>

			</div>
		</div>
	</div>
</div>