<!--start-header-->
<div class="header">
    <div class="container">
        <div class="head">
            <div class="navigation">
                <nav class="navbar-fixed-top navig">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a href="#/" class="navbar-brand active">Yummy Booklet</a>
                            <div ng-show="!currentUser">
                                <p class="navbar-text pull-right">
                                    <a href="#/login" class="login">Log in</a>
                                    <span>|</span>
                                    <a href="#/register" class="register">Register</a>
                                </p>
                            </div>
                            <div ng-show="currentUser">
                                <p class="navbar-text pull-right">
                                    <a href="#/user/{{model.currentUser._id}}" class="login">{{model.currentUser.username}}</a>
                                    <span>|</span>
                                    <a ng-click="model.logout()" class="login">Log out</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- script-for-menu -->
<!-- script-for-menu -->
<script>
    $("span.menu").click(function () {
        $(" ul.navig").slideToggle("slow", function () {
        });
    });
</script>
<!-- script-for-menu -->

<div class="container">

</div>

<div class="about">
    <div class="container">
        <div class="about-main">
            <div class="col-md-8 about-left">
                <div class="about-two">
                    <div ng-if="model.isLoggedIn()">
                        <div ng-show="model.profilePic">
                            <img ng-src="{{model.profilePic}}" alt="Profile Picture" />
                        </div>
                        <div ng-hide="model.hasProfilePicture(model.profilePic)">
                            <img src="images/profile.png" alt="Profile Picture" />
                        </div>
                    </div>
                    <div ng-if="!model.isLoggedIn()">
                        <div ng-show="model.profilePic">
                            <img ng-src="{{model.profilePic}}" alt="Profile Picture" />
                        </div>
                        <div ng-hide="model.profilePic">
                            <img src="images/profile.png" alt="Profile Picture" />
                        </div>
                    </div>
                    <div ng-show="model.isLoggedIn() && model.isCurrentUserSameAsProfileOrAdmin()">
                        <form name="newImageForm" action="/api/profileImageUpload"  method="post" enctype="multipart/form-data">
                            <input name="userId" value="{{model.userId}}" style="display: none"/>
                            <div class="form-group">
                                 <!--ng-class="{ 'has-error': newImageForm.width.$error.required && model.submitted}">-->
                                <!--<Label>Width</Label>-->
                                <!--<input ng-model="model.width" class="form-control" type="text"-->
                                       <!--placeholder="100%" name="width" required>-->
                                <!--<span ng-show="newImageForm.width.$error.required && model.submitted"-->
                                      <!--class="help-block">-->
                                    <!--Image width required-->
                                <!--</span>-->
                                <Label>Paste image link</Label>
                                <input ng-model="model.imageUrl" class="form-control" type="text"
                                       placeholder="http://xxx.alice.jpg" name="imageUrl">
                                <Label>Or upload</Label>
                            </div>
                            <input  name="myFile"   type="file" class="form-control"/>
                            <button type="submit"   class="btn btn-block btn-primary margin-bottom-5">Upload Image</button>
                        </form>
                        <button class="btn btn-danger btn-block" ng-click="model.deleteProfilePic()">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 about-right">
                <div class="about-one">
                    <h3><i class="fa fa-users" aria-hidden="true"></i>Edit Profile</h3>
                </div>
                <div class="abt-2">
                    <div class="form-group">
                        <Label>Username</Label>
                        <input ng-model="model.user.username"
                               class="form-control" type="text" placeholder="alice">
                    </div>
                    <div class="form-group">
                        <Label>Email</Label>
                        <input ng-model="model.user.email"
                               class="form-control" type="email" placeholder="alice@wonderland.com">
                    </div>
                    <div class="form-group">
                        <Label>First Name</Label>
                        <input ng-model="model.user.firstName"
                               class="form-control" type="text" placeholder="Alice">
                    </div>
                    <div class="form-group">
                        <Label>Last Name</Label>
                        <input ng-model="model.user.lastName"
                               class="form-control" type="text" placeholder="Wonderland">
                    </div>
                    <!--<a class="btn btn-primary btn-block" href="#/user/{{model.user._id}}/website">Websites</a>-->
                    <!--<a class="btn btn-danger btn-block" ng-click="model.logout()">Logout</a>-->
                    <a class="btn-dark btn-block" ng-click="model.updateUser(model.user)">Save</a>
                    <a class="btn-dark btn-block" ng-click="model.deleteUser(model.user._id)">Unregister</a>

                </div>
                <div class="abt-2">
                    <div ng-repeat="followingUser in model.user.following">
                        <div class="commentDiv padding-bottom-50">
                            <img width="20%" ng-src="{{followingUser.profilePic}}" alt="Profile Picture" />
                            <a href="#/user/{{followingUser._id}}">
                                <span class="text-info">{{followingUser.username}}</span>
                                <br>
                                <span class="text-info">{{followingUser.firstName}}&nbsp;{{followingUser.lastName}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.currentUser._id}}">
                    <i class="fa fa-reply white" aria-hidden="true"></i>
                </a>
            </p>
        </div>
    </div>
</nav>