<!--start-header-->
<div class="header">
	<div class="container">
		<div class="head">
			<div class="navigation">
				<nav class="navbar-default navbar-fixed-top navig">
					<div class="container-fluid">
						<div class="navbar-header">
							<a href="#/" class="navbar-brand active">Yummy Booklet</a>
							<div ng-show="!currentUser">
								<p class="navbar-text pull-right">
									<a href="#/login" class="login">Log in</a>
									<span>|</span>
									<a href="#/register" class="register">Register</a>
								</p>
							</div>
							<div ng-show="currentUser">
								<p class="navbar-text pull-right">
									<a href="#/user/{{model.currentUser._id}}" class="login">{{model.currentUser.username}}</a>
									<span>|</span>
									<a ng-click="model.logout()" class="login">Log out</a>
								</p>
							</div>
						</div>
					</div>
				</nav>
				<!--<span class="menu"></span>-->
				<!--<ul class="navig">-->
				<!--<li><a href="#/" class="active">Yummy Booklet</a></li>-->

				<!--<li><a href="#/login" class="login">Log in</a></li>-->
				<!--<li><a href="#/register" class="register">Register</a></li>-->
				<!--</ul>-->
				<!--</div>-->
				<!--<div class="header-right">-->
				<!--<div class="search-bar">-->
				<!--<input type="text" value="Search" onfocus="this.value = '';"-->
				<!--onblur="if (this.value == '') {this.value = 'Search';}">-->
				<!--<input type="submit" value="">-->
				<!--</div>-->
				<!--</div>-->
				<!--<div class="clearfix"></div>-->
			</div>
		</div>
	</div>
</div>
<!-- script-for-menu -->
<!-- script-for-menu -->
<script>
	$("span.menu").click(function () {
		$(" ul.navig").slideToggle("slow", function () {
		});
	});
</script>
<!-- script-for-menu -->
<div class="about">
	<div class="container">
		<div class="about-main">
			<div class="col-md-8 about-left">
				<div class="about-two">
					<div ng-if="model.isLoggedIn()">
						<div ng-show="model.profilePic">
							<img ng-src="{{model.profilePic}}" alt="Profile Picture" />
						</div>
						<div ng-hide="model.hasProfilePicture(model.profilePic)">
							<img src="images/profile.png" alt="Profile Picture" />
						</div>
					</div>
					<div ng-if="!model.isLoggedIn()">
						<div ng-show="model.profilePic">
							<img ng-src="{{model.profilePic}}" alt="Profile Picture" />
						</div>
						<div ng-hide="model.profilePic">
							<img src="images/profile.png" alt="Profile Picture" />
						</div>
					</div>
					<div ng-show="model.isLoggedIn() && model.isCurrentUserSameAsProfile()">
						<form name="newImageForm" action="/api/profileImageUpload"  method="post" enctype="multipart/form-data">
							<input name="userId" value="{{model.currentUser._id}}" style="display: none"/>
							<div class="form-group"
								 ng-class="{ 'has-error': newImageForm.width.$error.required && model.submitted}">
								<Label>Width</Label>
								<input ng-model="model.width" class="form-control" type="text"
									   placeholder="100%" name="width" required>
						<span ng-show="newImageForm.width.$error.required && model.submitted"
							  class="help-block">
							Image width required
						</span>
							</div>
							<input  name="myFile"   type="file" class="form-control"/>
							<button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
						</form>
					</div>
					<div ng-show="model.isLoggedIn() && !model.isCurrentUserSameAsProfile()">
						<button ng-click="model.followUnfollow()" class="btn btn-primary">
						<!--<button ng-click="toggle = !toggle" class="btn btn-primary">-->
							<!--{{toggle && 'Follow' || 'Following'}}-->
							{{toggleText}}
						</button>
					</div>
				</div>
			</div>
			<div class="col-md-4 about-right heading">
				<div class="abt-1 pull-right">
					<a href="#/user/{{model.currentUser._id}}/edit">
						<span class="glyphicon glyphicon-edit"></span>&nbsp;Edit profile
					</a>
				</div>
				<div class="abt-2">
					<ul>
						<li><img width="30%" ng-src="{{model.restaurant.rating_img_url_large}}"/></li>
						<li><a href="single.html">{{model.user.username}}</a></li>
						<li><a href="single.html">{{model.user.email}}</a></li>
						<li><a href="single.html">{{model.user.firstName}}&nbsp;{{model.user.lastName}}</a></li>
						<li><a href="single.html">reservation</a></li>
					</ul>
				</div>
				<div class="abt-2">
					<div class="news">
						<form>
							<input type="text" value="message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" />
							<input type="submit" value="Comment">
						</form>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>