<div class="header" id="head">
    <div class="container">
        <div class="head">
            <div class="navigation">
                <nav class="navbar-fixed-top navig">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a href="#/" class="navbar-brand active">Yummy Booklet</a>
                            <div ng-show="!currentUser">
                                <p class="navbar-text pull-right">
                                    <a href="#/login" class="login">Log in</a>
                                </p>
                            </div>
                            <div ng-show="currentUser">
                                <p class="navbar-text pull-right">
                                    <a href="#/user/{{model.currentUser._id}}" class="login">{{model.currentUser.username}}</a>
                                    <span>|</span>
                                    <a ng-click="model.logout()" class="login">Log out</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- script-for-menu -->
<script>
    $("span.menu").click(function () {
        $(" ul.navig").slideToggle("slow", function () {
        });
    });
</script>
<!-- script-for-menu -->
<div class="container">

    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <div class="main">
        <form name="registerForm" novalidate>
            <h1>Register</h1>
            <div class="form-group"
                 ng-class="{ 'has-error': registerForm.username.$error.required && model.submitted}">
                <label>Username</label>
                <input ng-model="username" class="form-control" type="text"
                       name="username" placeholder="alice" required>
                <span ng-show="registerForm.username.$error.required && model.submitted"
                      class="help-block">
                    Username required
                </span>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error': registerForm.password.$error.required && model.submitted}">
                <label>Password</label>
                <input ng-model="password" class="form-control" type="password"
                       name="password" placeholder="12345" required>
                <span ng-show="registerForm.password.$error.required && model.submitted"
                      class="help-block">
                    Password required
                </span>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error': registerForm.verifypassword.$error.required && model.submitted || model.badPassword}">
                <label>Verify Password</label>
                <input ng-model="verifyPassword" class="form-control" type="password"
                       name="verifyPassword" placeholder="Verify Password" required>
                <span ng-show="registerForm.verifyPassword.$error.required && model.submitted"
                      class="help-block">
                    Verify password is required
                </span>
                <span ng-show="model.badPassword"
                      class="help-block">
                    Passwords do not match
                </span>
            </div>

            <!--Uncomment the following two lines when you want to make an ADMIN user-->
            <!--<input type="checkbox" ng-model="model.isAdmin">-->
            <!--<h3>Admin: {{model.isAdmin}}</h3>-->

            <a ng-click="model.register(username, password, verifyPassword)" class="btn register-btn btn-block">Register</a>
        </form>
    </div>
</div>