<!--header-top-starts-->
<div class="header-top">
	<div class="container">
		<div class="head-main">
			<a href="legacyIndex.html"><img src="../../images/simpleTitle4.png" alt=""/></a>
			<div class="register">
				<a href="#/login"><span class="login">log in</span></a>
				<a href="#/register"><span class="register">register</span></a>
			</div>
		</div>
	</div>
</div>
<!--header-top-end-->
<!--start-header-->
<div class="header">
	<div class="container">
		<div class="head">
			<div class="navigation">
				<span class="menu"></span>
				<ul class="navig">
					<li><a href="../../index.html" class="active">Home</a></li>
					<li><a href="legacyIndex.html">LegacyHome</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="typo.html">Typo</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			<div class="header-right">
				<div class="search-bar">
					<input type="text" value="Search" onfocus="this.value = '';"
					       onblur="if (this.value == '') {this.value = 'Search';}">
					<input type="submit" value="">
				</div>
				<ul>
					<li><a href="#"><span class="fb"> </span></a></li>
					<li><a href="#"><span class="twit"> </span></a></li>
					<li><a href="#"><span class="pin"> </span></a></li>
					<li><a href="#"><span class="rss"> </span></a></li>
					<li><a href="#"><span class="drbl"> </span></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- script-for-menu -->
<!-- script-for-menu -->
<script>
	$("span.menu").click(function () {
		$(" ul.navig").slideToggle("slow", function () {
		});
	});
</script>
<!-- script-for-menu -->
<!--banner-starts-->
<div class="banner">
	<div class="container">
		<div class="banner-top">
			<div class="banner-text">
				<h2>Aliquam erat</h2>
				<h1>Suspendisse potenti</h1>
				<div class="banner-btn">
					<a href="single.html">Read More</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--banner-end-->
<!--gallery-starts-->
<div class="gallery">
	<div class="container">
		<div class="gallery-top heading">
			<h3>Our Best Rated Places</h3>
		</div>
		<section>
			<ul id="da-thumbs" class="da-thumbs">
				<li>
					<a href="images/g-1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img ng-src="../../images/brunch.png" alt="brea"/>
						<div>
							<h5>Breakfast & Brunch</h5>
						</div>
					</a>
				</li>
				<li>
					<a href="images/g-2.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img src="../../images/seafood.jpg" alt=""/>
						<div>
							<h5>Seafood</h5>
						</div>
					</a>
				</li>
				<li>
					<a href="images/g-3.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img src="../../images/salad.jpg" alt=""/>
						<div>
							<h5>Salad</h5>
						</div>
					</a>
				</li>
				<li>
					<a href="images/g-4.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img src="../../images/sushi.jpg" alt=""/>
						<div>
							<h5>Sushi</h5>
						</div>
					</a>
				</li>
				<li>
					<a href="images/g-5.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img src="../../images/burger.jpg" alt=""/>
						<div>
							<h5>Burgers</h5>
						</div>
					</a>
				</li>
				<li>
					<a href="images/g-6.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img src="../../images/pizza.jpg" alt=""/>
						<div>
							<h5>Pizza</h5>
						</div>
					</a>
				</li>
				<li>
					<a href="images/g-7.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img src="../../images/soup.jpg" alt=""/>
						<div>
							<h5>Soup</h5>
						</div>
					</a>
				</li>
				<li>
					<a href="images/g-8.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img src="../../images/icecream.jpg" alt=""/>
						<div>
							<h5>Ice Cream & Frozen Yogurt</h5>
						</div>
					</a>
				</li>
				<li>
					<a href="images/g-9.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img src="../../images/coffee.jpg" alt=""/>
						<div>
							<h5>Coffee & Tea</h5>
						</div>
					</a>
				</li>
				<div class="clearfix"></div>
			</ul>
		</section>

		<script type="text/javascript">
			$(function () {

				$(' #da-thumbs > li ').each(function () {
					$(this).hoverdir();
				});

			});
		</script>
	</div>
</div>
<!--gallery-end-->
<!--footer-starts-->
<div class="footer">
	<div class="container">
		<div class="footer-text">
			<!--<p>© 2016 Yummy Booked. All Rights Reserved | Design by <a href="http://w3layouts.com/"-->
			                                                           <!--target="_blank">W3layouts</a></p>-->
			<p>Copyright © 2016 <a href="">Kaichen Zhang</a><br>
				Crafted with <span class="fa fa-heart pulse2"></span> by <a href="">Kaichen Zhang</a>.</p>
		</div>
	</div>
</div>
<!--footer-end-->