<!--start-header-->
<div class="header" id="head">
	<div class="container">
		<div class="head">
			<div class="navigation">
				<nav class="navbar-default navbar-fixed-top navig">
					<div class="container-fluid">
						<div class="navbar-header">
							<a href="#/" class="navbar-brand active">Yummy Booklet</a>
							<div ng-show="!currentUser">
								<p class="navbar-text pull-right">
									<a href="#/login" class="login">Log in</a>
									<span>|</span>
									<a href="#/register" class="register">Register</a>
								</p>
							</div>
							<div ng-show="currentUser">
								<p class="navbar-text pull-right">
									<a href="#/user" class="login">{{model.currentUser.username}}</a>
									<span>|</span>
									<a ng-click="model.logout()" class="login">Log out</a>
								</p>
							</div>
						</div>
					</div>
				</nav>
				<!--<span class="menu"></span>-->
				<!--<ul class="navig">-->
				<!--<li><a href="#/" class="active">Yummy Booklet</a></li>-->

				<!--<li><a href="#/login" class="login">Log in</a></li>-->
				<!--<li><a href="#/register" class="register">Register</a></li>-->
				<!--</ul>-->
				<!--</div>-->
				<!--<div class="header-right">-->
				<!--<div class="search-bar">-->
				<!--<input type="text" value="Search" onfocus="this.value = '';"-->
				<!--onblur="if (this.value == '') {this.value = 'Search';}">-->
				<!--<input type="submit" value="">-->
				<!--</div>-->
				<!--</div>-->
				<!--<div class="clearfix"></div>-->
			</div>
		</div>
	</div>
</div>
<!-- script-for-menu -->

<!-- script that when click submitting button in the zip code, the pages scrolls down to category list -->
<!--<script>-->
<!--$("span.menu").click(function () {-->
<!--$(" ul.navig").slideToggle("slow", function () {-->
<!--});-->
<!--});-->
<!--$("div.banner-btn").click(function () {-->
<!--//		$(" ul.navig").slideToggle("slow", function () {-->
<!--//		});-->
<!--document.getElementById("da-thumbs").scrollIntoView();-->

<!--});-->
<!--</script>-->

<!--banner-starts-->
<div class="banner">
	<div class="container">
		<div class="banner-top">
			<div class="banner-text">
				<h2>Please enter a zip code</h2>
				<form name="zipForm" novalidate>
					<div ng-class="{ 'has-error': model.invalid && model.submitted}">
						<input id="zipBox" ng-model="zip" ng-change="model.onChanged()" name="zip" class="form-control zip-input"
							   type="text" placeholder="zip code" required>
						<!--<a ng-click="model.login(username, password)" class="btn btn-primary btn-block">Submit</a>-->
						<span ng-show="model.invalid && model.submitted"
							  class="help-block">
							Valid ZIP code required
						</span>
						<div class="banner-btn">
							<!--<a href="#da-thumbs" target="_self">Submit</a>-->
							<a ng-click="model.setZipCode(zip)">Submit</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!--banner-end-->
<!--gallery-starts-->
<div class="gallery">
	<div class="container">
		<div class="gallery-top heading">
			<h3>Our Best Rated Places</h3>
		</div>
		<section>
			<ul id="da-thumbs" class="da-thumbs">
				<li>
					<!--<a href="#/category/0/zip/{{zip}}/restaurant" rel="title" class="b-link-stripe b-animate-go  thickbox">-->
					<a ng-click="model.selectCategory(0, zip)" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img src="images/brunch.png" alt="Breakfast & Brunch"/>
						<div>
							<h5>Breakfast & Brunch</h5>
						</div>
					</a>
				</li>
				<li>
					<a hng-click="model.selectCategory(1, zip)" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img src="images/seafood.jpg" alt=""/>
						<div>
							<h5>Seafood</h5>
						</div>
					</a>
				</li>
				<li>
					<a ng-click="model.selectCategory(2, zip)" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img src="images/salad.jpg" alt=""/>
						<div>
							<h5>Salad</h5>
						</div>
					</a>
				</li>
				<li>
					<a ng-click="model.selectCategory(3, zip)" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img src="images/sushi.jpg" alt=""/>
						<div>
							<h5>Sushi</h5>
						</div>
					</a>
				</li>
				<li>
					<a ng-click="model.selectCategory(4, zip)" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img src="images/burger.jpg" alt=""/>
						<div>
							<h5>Burgers</h5>
						</div>
					</a>
				</li>
				<li>
					<a ng-click="model.selectCategory(5, zip)" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img src="images/pizza.jpg" alt=""/>
						<div>
							<h5>Pizza</h5>
						</div>
					</a>
				</li>
				<li>
					<a ng-click="model.selectCategory(6, zip)" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img src="images/soup.jpg" alt=""/>
						<div>
							<h5>Soup</h5>
						</div>
					</a>
				</li>
				<li>
					<a ng-click="model.selectCategory(7, zip)" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img src="images/icecream.jpg" alt=""/>
						<div>
							<h5>Ice Cream & Frozen Yogurt</h5>
						</div>
					</a>
				</li>
				<li>
					<a ng-click="model.selectCategory(8, zip)" rel="title" class="b-link-stripe b-animate-go  thickbox">
						<img src="images/coffee.jpg" alt=""/>
						<div>
							<h5>Coffee & Tea</h5>
						</div>
					</a>
				</li>
				<div class="clearfix"></div>
			</ul>
		</section>

		<script type="text/javascript">
			$(function () {

				$(' #da-thumbs > li ').each(function () {
					$(this).hoverdir();
				});

			});
		</script>
	</div>
</div>
<!--gallery-end-->
<!--footer-starts-->
<div class="footer">
	<div class="container">
		<div class="footer-text">
			<!--<p>© 2016 Yummy Booked. All Rights Reserved | Design by <a href="http://w3layouts.com/"-->
			<!--target="_blank">W3layouts</a></p>-->
			<p>Copyright © 2016 <a href="">Kaichen Zhang</a><br>
				Crafted with <span class="fa fa-heart pulse2"></span> by <a href="">Kaichen Zhang</a>.</p>
		</div>
	</div>
</div>
<!--footer-end-->