<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a class="navbar-link" href="website-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="">New Website</a>
            <p class="navbar-text pull-right">
                <a class="navbar-link pull-right" href="website-list.view.client.html">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div class="form-group">
        <Label>Name</Label>
        <input ng-model="model.website.name" class="form-control" type="text" placeholder="alice">
    </div>
    <div class="form-group">
        <Label>Description</Label>
        <textarea rows="5" class="form-control" type="text" placeholder="This is a description"></textarea>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center"></div>
            <div class="col-xs-3 text-center"></div>
            <div class="col-xs-3 text-center"></div>
            <div class="col-xs-3 text-center">
                <a href="/assignment/user/profile.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>