<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a class="navbar-link" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="">New Page</a>
            <p class="navbar-text pull-right">
                <a ng-click="model.createPage(page)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div class="form-group">
        <Label>Name</Label>
        <input ng-model="page.name" class="form-control" type="text" placeholder="Alice Wonderland" required>
    </div>
    <div class="form-group">
        <Label>Title</Label>
        <input ng-model="page.title" class="form-control" type="text" placeholder="Party Time">
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>