<!--start-header-->
<div class="header">
	<div class="container">
		<div class="head">
			<div class="navigation">
				<nav class="navbar-fixed-top navig">
					<div class="container-fluid">
						<div class="navbar-header">
							<a href="#/" class="navbar-brand active">Yummy Booklet</a>
							<div ng-show="!currentUser">
								<p class="navbar-text pull-right">
									<a href="#/login" class="login">Log in</a>
									<span>|</span>
									<a href="#/register" class="register">Register</a>
								</p>
							</div>
							<div ng-show="currentUser">
								<p class="navbar-text pull-right">
									<a href="#/user/{{model.currentUser._id}}" class="login">{{model.currentUser.username}}</a>
									<span>|</span>
									<a ng-click="model.logout()" class="login">Log out</a>
								</p>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- script-for-menu -->
<!-- script-for-menu -->
<script>
	$("span.menu").click(function () {
		$(" ul.navig").slideToggle("slow", function () {
		});
	});
</script>
<!-- script-for-menu -->
<div class="about">
	<div class="container">
		<div class="about-main">
			<div class="about-one">
				<p>Find The Most</p>
				<!--<h3>Breakfast & Brunch</h3>-->
				<!--<div ng-repeat="restaurant in model.restaurants">-->
				<!--<h3>model.getCategory(restaurant)</h3>-->
				<!--</div>-->

				<!--<div ng-repeat="restaurantCategory in model.getCategoryArray(model.restaurants)">-->
				<!--<h3>{{restaurantCategory}}</h3>-->
				<!--</div>-->
				<!--<div ng-repeat="n in [42, 42, 43, 43]">-->
				<!--<h3>n</h3>-->
				<!--</div>-->
				<!--<h3>{{model.test}}</h3>-->
				<div ng-switch="model.categoryId">
					<h3 ng-switch-when="0">Breakfast & Brunch</h3>
					<h3 ng-switch-when="1">Seafood</h3>
					<h3 ng-switch-when="2">Salad</h3>
					<h3 ng-switch-when="3">Sushi</h3>
					<h3 ng-switch-when="4">Burgers</h3>
					<h3 ng-switch-when="5">Pizza</h3>
					<h3 ng-switch-when="6">Soup</h3>
					<h3 ng-switch-when="7">Ice Cream & Frozen Yogurt</h3>
					<h3 ng-switch-when="8">Coffee & Tea</h3>
				</div>
			</div>
			<div class="about-tre">
				<div class="might-grid col-sm-6" ng-repeat="restaurant in model.restaurants">
					<div class="grid-might">
						<img class="img-responsive"
							 width="100%"
							 ng-click="model.selectRestaurant(restaurant)"
							 ng-src="{{restaurant.image_url}}" alt="image">
					</div>
					<div class="might-top">
						<h3 ng-click="model.selectRestaurant(restaurant)">{{restaurant.name}}</h3>
						<img width="30%"
							 ng-src="{{restaurant.rating_img_url_large}}"/>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container-fluid">
		<div class="navbar-header">
			<p class="navbar-text pull-left">
				<a href="#/">
					<i class="fa fa-reply white" aria-hidden="true"></i>
				</a>
			</p>
		</div>
	</div>
</nav>