<!--start-header-->
<div class="header">
    <div class="container">
        <div class="head">
            <div class="navigation">
                <nav class="navbar-fixed-top navig">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a href="#/" class="navbar-brand active">Yummy Booklet</a>
                            <div ng-show="!currentUser">
                                <p class="navbar-text pull-right">
                                    <a href="#/login" class="login">Log in</a>
                                    <span>|</span>
                                    <a href="#/register" class="register">Register</a>
                                </p>
                            </div>
                            <div ng-show="currentUser">
                                <p class="navbar-text pull-right">
                                    <a href="#/user/{{model.currentUser._id}}" class="login">{{model.currentUser.username}}</a>
                                    <span>|</span>
                                    <a ng-click="model.logout()" class="login">Log out</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="about">
    <div class="container">
        <div class="about-main">
            <div class="col-md-8 about-left">
                <div class="about-two">
                    <!--<a href="single.html"><img src="images/c-1.jpg" alt="" /></a>-->
                    <a><img src="{{model.image}}" alt="Restaurant Picture"/></a>
                    <!--<p>Posted by <a href="#">Johnson</a> on 10 feb, 2015 <a href="#">comments(2)</a></p>-->

                    <div class="abt-2 resta-info" ng-show="model.users.length > 0">
                        <h4>
                            Users <span class="favorite-icon glyphicon glyphicon-heart"
                                        aria-hidden="true"></span> this restaurant:
                        </h4>
                        <div ng-repeat="user in model.users">
                            <div class="row row-eq-height">
                                <div class="col-xs-2" ng-show="user.profilePic">
                                    <img ng-src="{{user.profilePic}}" alt="Profile Picture"/>
                                </div>
                                <div class="col-xs-2" ng-hide="user.profilePic">
                                    <img src="images/profile.png" alt="Profile Picture"/>
                                </div>
                                <div class="col-xs-10">
                                    <a href="#/user/{{user._id}}">
                                        <span class="col-xs-10">{{user.username}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 about-right">
                <div class="about-one">
                    <h3><i class="fa fa-cutlery" aria-hidden="true"></i>{{model.restaurant.name}}
                        <a ng-hide="model.cannotAddToFavorite()"
                           ng-click="model.addRestaurantToFavorite()">
                            <span class="favorite-icon glyphicon glyphicon-heart-empty"
                                  aria-hidden="true">{{model.users.length}}</span>
                        </a>
                        <a ng-show="model.canDeleteFromFavorite()"
                           ng-click="model.removeRestaurantFromFavorite()">
                            <span class="favorite-icon glyphicon glyphicon-heart"
                                  aria-hidden="true">{{model.users.length}}</span>
                        </a>
                    </h3>
                </div>
                <div class="abt-2">
                    <ul>
                        <li><img width="30%" ng-src="{{model.restaurant.rating_img_url_large}}"/></li>
                        <li><a>{{model.categories}}</a></li>
                        <li><a>{{model.restaurant.display_phone}}</a></li>
                        <li><a>{{model.location}}</a></li>
                    </ul>
                </div>
                <!--<div class="abt-2">-->

                <div class="about-two">
                    <iframe src="{{model.googleMapSrc}}" class="g-map" allowfullscreen></iframe>
                </div>

                <div ng-if="model.error" class="alert alert-danger">
                    {{model.error}}
                </div>
                <div class="abt-2">
                    <div class="about-one padding-bottom-50">
                        <h4 class="comment-header">Comments</h4>
                        <form id="anchor">
                            <div class="form-group">
                                <textarea ng-model="model.comment" class="form-control" rows="4"
                                          placeholder="{{model.commentPlaceholder}}"></textarea>
                            </div>
                            <div class="form-group row">
                                <button class="text-align-left banner-btn btn-right"
                                        ng-click="model.leaveAComment(model.comment)" type="submit">Submit
                                </button>
                            </div>

                        </form>

                        <!--iterate comments-->
                        <div ng-repeat="comment in model.comments">
                            <div class="commentDiv">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <a href="#/user/{{comment.commenterId}}">
                                            <span class="text-info">{{comment.commenter}}</span></a>&nbsp;
                                        <span>posted at {{model.getLongDateTime(comment.date)}}</span>&nbsp;
                                    </div>
                                    <div class="col-xs-3">
                                        <button class="btn-right" ng-click="comment.isThisReplyCommentAreaShown = true">
                                            Reply
                                        </button>
                                    </div>
                                    <br>
                                    <div class="col-xs-9">
                                        <span class="commentText">{{comment.content}}</span>
                                    </div>
                                    <div class="col-xs-3">
                                        <div ng-if="model.isAdmin()">
                                            <button class="btn-right" ng-click="model.deleteAcomment(comment._id)">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="comment.isThisReplyCommentAreaShown">
									<textarea ng-model="replyToAComment" class="form-control" rows="4"
                                              placeholder="Reply a comment here..."></textarea>
                                    <button
                                            ng-click="model.submitAReplyToAComment(replyToAComment, comment._id, comment.commenterId, comment.commenter, $index)"
                                            class="btn btn-primary">Submit
                                    </button>
                                    <button ng-click="comment.isThisReplyCommentAreaShown = false"
                                            class="btn btn-danger">Cancel
                                    </button>
                                </div>
                            </div>

                            <!--iterate replies in each comment-->
                            <div ng-show="comment.replies.length > 0" class="replyDiv">
                                <div class="replyDiv1">
                                    <span class="glyphicon glyphicon-triangle-top"></span>
                                </div>
                                <div class="replyDiv2">
                                    <div ng-repeat="reply in comment.replies">
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <a href="#/user/{{reply.replierId}}">
                                                    <span class="text-info">{{reply.replier}}</span>
                                                </a>&nbsp;@
                                                <a href="#/user/{{reply.hostId}}">
                                                    <span class="text-info">{{reply.host}}</span>
                                                </a>
                                                <span>at {{model.getLongDateTime(reply.date)}}:</span>&nbsp;
                                                <span class="commentText">{{reply.content}}</span>&nbsp;
                                            </div>

                                            <div class="col-xs-3">
                                                <div ng-if="model.isAdmin()">
                                                    <button class="btn-right" ng-click="model.deleteAreply(reply._id, reply.commentId)">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!--TODO: implement a reply to a reply-->
                                        <!--<button ng-click="reply.isThisReplyReplyAreaShown = true"-->
                                        <!--class="replyBtn">Reply-->
                                        <!--</button>-->


                                        <div ng-if="reply.isThisReplyReplyAreaShown">
											<textarea ng-model="replyToAReply" class="form-control" rows="4"
                                                      placeholder="This is a reply to a reply"></textarea>
                                            <button ng-click="model.submitAReplyToAReply(replyToAReply, comment._id, reply.replierId, reply.replier, $index, $parent.$parent.$index)"
                                                    class="btn btn-primary">Submit
                                            </button>
                                            <button ng-click="reply.isThisReplyReplyAreaShown = false"
                                                    class="btn btn-danger">Cancel
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/category/{{model.categoryId}}/zip/{{model.zip}}/restaurant">
                    <i class="fa fa-reply white" aria-hidden="true"></i>
                </a>
            </p>
        </div>
    </div>
</nav>