<!--start-header-->
<div class="header">
	<div class="container">
		<div class="head">
			<div class="navigation">
				<nav class="navbar-fixed-top navig">
					<div class="container-fluid">
						<div class="navbar-header">
							<a href="#/" class="navbar-brand active">Yummy Booklet</a>
							<div ng-show="!currentUser">
								<p class="navbar-text pull-right">
									<a href="#/login" class="login">Log in</a>
									<span>|</span>
									<a href="#/register" class="register">Register</a>
								</p>
							</div>
							<div ng-show="currentUser">
								<p class="navbar-text pull-right">
									<a href="#/user/{{model.currentUser._id}}" class="login">{{model.currentUser.username}}</a>
									<span>|</span>
									<a ng-click="model.logout()" class="login">Log out</a>
								</p>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- script-for-menu -->
<!-- script-for-menu -->
<script>
	$("span.menu").click(function () {
		$(" ul.navig").slideToggle("slow", function () {
		});
	});
</script>
<!-- script-for-menu -->
<div class="about">
	<div class="container">
		<div class="about-main">
			<div class="about-one">
				<p>Find The Most</p>
				<h3>Breakfast & Brunch</h3>
			</div>
			<div class="about-tre">
				<div class="might-grid col-sm-6" ng-repeat="restaurant in model.restaurants">
					<div class="grid-might">
						<img class="img-responsive"
							 width="100%"
							 ng-click="model.selectRestaurant(restaurant)"
							 ng-src="{{restaurant.image_url}}" alt="image">
					</div>
					<div class="might-top">
						<h3 ng-click="model.selectRestaurant(restaurant)">{{restaurant.name}}</h3>
						<img width="30%"
							 ng-src="{{restaurant.rating_img_url_large}}"/>
					</div>
					<div class="clearfix"></div>
				</div>



				<!--<div class="col-sm-3" ng-repeat="restaurant in model.restaurants">-->
				<!--<h3>{{restaurant.name}}</h3>-->
				<!--<img width="100%" ng-click="model.selectRestaurant(restaurant)"-->
				<!--ng-src="{{restaurant.image_url}}"/>-->
				<!--<h6>{{restaurant.rating}}</h6>-->
				<!--<img width="100%"-->
				<!--ng-src="{{restaurant.rating_img_url_large}}"/>-->
				<!--<p>{{restaurant.location.coordinate.latitude}}</p>-->
				<!--<p>{{restaurant.location.coordinate.longitude}}</p>-->
				<!--</div>-->

				<!--</div>-->
				<!--<div class="about-tre">-->
				<!--<div class="col-sm-3" ng-repeat="restaurant in model.restaurants">-->
				<!--<h3>{{restaurant.name}}</h3>-->
				<!--<img width="100%" ng-click="model.selectRestaurant(restaurant)"-->
				<!--ng-src="{{restaurant.image_url}}"/>-->
				<!--<h6>{{restaurant.rating}}</h6>-->
				<!--<img width="100%"-->
				<!--ng-src="{{restaurant.rating_img_url_large}}"/>-->
				<!--<p>{{restaurant.location.coordinate.latitude}}</p>-->
				<!--<p>{{restaurant.location.coordinate.longitude}}</p>-->
				<!--</div>-->

				<!--</div>-->

				<div class="about-tre">
					<!--<div class="a-1">-->
					<!--<div class="col-md-6 abt-left">-->
					<!--<a href="#/category/{{model.categoryId}}/restaurant/0"><img src="images/c-3.jpg" alt="" /></a>-->
					<!--<h3><a href="single.html">Restaurant Name</a></h3>-->
					<!--<p>Vivamus interdum diam diam, non faucibus tortor consequat vitae. Proin sit amet augue sed massa pellentesque viverra. Suspendisse iaculis purus eget est pretium aliquam ut sed diam.</p>-->
					<!--</div>-->
					<!--<div class="col-md-6 abt-left">-->
					<!--<a href="single.html"><img src="images/c-4.jpg" alt="" /></a>-->
					<!--<h3><a href="single.html">Tasty Coffee</a></h3>-->
					<!--<p>Vivamus interdum diam diam, non faucibus tortor consequat vitae. Proin sit amet augue sed massa pellentesque viverra. Suspendisse iaculis purus eget est pretium aliquam ut sed diam.</p>-->
					<!--</div>-->
					<!--<div class="clearfix"></div>-->
					<!--</div>-->
					<!--<div class="a-1">-->
					<!--<div class="col-md-6 abt-left">-->
					<!--<a href="single.html"><img src="images/c-5.jpg" alt="" /></a>-->
					<!--<h6>Find The Most</h6>-->
					<!--<h3><a href="single.html">Tasty Coffee</a></h3>-->
					<!--<p>Vivamus interdum diam diam, non faucibus tortor consequat vitae. Proin sit amet augue sed massa pellentesque viverra. Suspendisse iaculis purus eget est pretium aliquam ut sed diam.</p>-->
					<!--<label>May 29, 2015</label>-->
					<!--</div>-->
					<!--<div class="col-md-6 abt-left">-->
					<!--<a href="single.html"><img src="images/c-6.jpg" alt="" /></a>-->
					<!--<h6>Find The Most</h6>-->
					<!--<h3><a href="single.html">Tasty Coffee</a></h3>-->
					<!--<p>Vivamus interdum diam diam, non faucibus tortor consequat vitae. Proin sit amet augue sed massa pellentesque viverra. Suspendisse iaculis purus eget est pretium aliquam ut sed diam.</p>-->
					<!--<label>May 29, 2015</label>-->
					<!--</div>-->
					<!--<div class="clearfix"></div>-->
					<!--</div>-->
					<!--<div class="a-1">-->
					<!--<div class="col-md-6 abt-left">-->
					<!--<a href="single.html"><img src="images/c-7.jpg" alt="" /></a>-->
					<!--<h6>Find The Most</h6>-->
					<!--<h3><a href="single.html">Tasty Coffee</a></h3>-->
					<!--<p>Vivamus interdum diam diam, non faucibus tortor consequat vitae. Proin sit amet augue sed massa pellentesque viverra. Suspendisse iaculis purus eget est pretium aliquam ut sed diam.</p>-->
					<!--<label>May 29, 2015</label>-->
					<!--</div>-->
					<!--<div class="col-md-6 abt-left">-->
					<!--<a href="single.html"><img src="images/c-8.jpg" alt="" /></a>-->
					<!--<h6>Find The Most</h6>-->
					<!--<h3><a href="single.html">Tasty Coffee</a></h3>-->
					<!--<p>Vivamus interdum diam diam, non faucibus tortor consequat vitae. Proin sit amet augue sed massa pellentesque viverra. Suspendisse iaculis purus eget est pretium aliquam ut sed diam.</p>-->
					<!--<label>May 29, 2015</label>-->
					<!--</div>-->
					<!--<div class="clearfix"></div>-->
					<!--</div>-->
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>