<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a class="navbar-link"
                   href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="">Text Edit</a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <form name="newTextForm" novalidate>
        <div class="form-group"
             ng-class="{ 'has-error': newTextForm.name.$error.required && model.submitted}">
            <label for="widget-name">Name</label>
            <input ng-model="model.widget.name"
                   id="widget-name"
                   name="name"
                   type="text"
                   class="form-control"
                   placeholder="My Header"
                   required/>
            <span ng-show="newTextForm.name.$error.required && model.submitted"
                  class="help-block">
                Widget name required
            </span>
        </div>

        <div class="form-group">
            <label for="widget-text">Text</label>
            <input ng-model="model.widget.text"
                   id="widget-text"
                   type="text"
                   class="form-control"
                   placeholder="This Is My Text"/>
        </div>

        <div class="form-group"
             ng-class="{ 'has-error': newTextForm.size.$error.required && model.submitted}">
            <label for="widget-rows">Rows</label>
            <input ng-model="model.widget.rows"
                   id="widget-rows"
                   type="number"
                   class="form-control"
                   name="size"
                   placeholder="1" required>
            <span ng-show="newTextForm.size.$error.required && model.submitted"
                  class="help-block">
                Row size required
            </span>
        </div>

        <div class="form-group">
            <label for="widget-placeholder">Placeholder</label>
            <input ng-model="model.widget.placeholder"
                   id="widget-placeholder"
                   type="text"
                   class="form-control"
                   placeholder="My Placeholder">
        </div>

        <div class="form-group">
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       value="Formatted"
                       readonly>
                <span class="input-group-addon">
                    <input ng-model="model.widget.formatted"
                           type="checkbox">
                </span>
            </div>
        </div>

        <a  ng-click="model.deleteWidget()"
            class="btn btn-block btn-danger">
            Delete
        </a>
    </form>
</div>