<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a class="navbar-link"
                   href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="">Heading Edit</a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <form name="newHeadingForm" novalidate>
        <div class="form-group"
             ng-class="{ 'has-error': newHeadingForm.name.$error.required && model.submitted}">
            <Label>Name</Label>
            <input ng-model="model.widget.name" class="form-control" type="text"
                   name="name" placeholder="" required>
            <span ng-show="newHeadingForm.name.$error.required && model.submitted"
                  class="help-block">
                Widget name required
            </span>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error': newHeadingForm.text.$error.required && model.submitted}">
            <Label>Text</Label>
            <input ng-model="model.widget.text" class="form-control" type="text"
                   name="text" placeholder="Two Problems With the New York Times Facebook Live Pitch Meeting" required>
            <span ng-show="newHeadingForm.text.$error.required && model.submitted"
                  class="help-block">
                Heading text required
            </span>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error': newHeadingForm.size.$error.required && model.submitted}">
            <Label>Size</Label>
            <select ng-model="model.widget.size" class="form-control" name="size" required>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
            <span ng-show="newHeadingForm.size.$error.required && model.submitted"
                  class="help-block">
                Heading size required
            </span>
        </div>
        <a ng-click="model.deleteWidget()"
           class="btn btn-danger btn-block">Delete</a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>